*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 609px;
    margin: 0 auto;
}

header{
    margin-top: 48px;
    text-align: center;
}

header img:first-child{
    border-radius: 20px 20px 0 0;
    width: 100%;
    z-index: 0;
    
}

.container-foto{
    width: 100%;
    display: flex;
    justify-content: center;
}

.foto{
    margin-top: -90px;
    z-index: 1 ;

}

.info{
    max-width: 400px ;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.info p {
    font-size: 16px;
    margin-top: 10px;
}

.socials-links{
    display: flex;
    gap: 9px;
    margin-top: 12px;
    justify-content: center;
}

.icon{
    width: 32px;
    height: 32px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 100px;
}

.button{ 
    width: 398px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    padding: 10px 20px;
    border: 1px solid rgb(214, 205, 205);
    box-shadow: 3px 3px 3px rgb(223, 217, 217);
    justify-content: space-between;
}

.button:hover{
    background-color: #030B1A;
    cursor: pointer;
    color: white;
}

.button p{
    font-size: 16px;
}

.span{
    display: flex;
    align-items: center;
    gap: 10px;
}