*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    cursor: pointer;
}

.logo{
    width: 200px;
    background-color: red;
}

.title{
    font-size: 2rem;
}
/*-------------- HEADER -------------*/

header .container{
    background-color: red;
    padding: 1rem 3rem;
}

header .container ul li {
    display: inline;
    font-size: 1.5rem;
    float: right;
    position: relative;
    top: -4.5rem;
}

/*------------- MAIN ---------------------*/

main {
    text-align: center;
}

main h1{
    margin: 2rem 0;
}

img{
    width: 100px;
}    

.foto{
    display: inline-block;
    border: 1px solid black;
    padding: 60px 40px 0 40px;
    margin: 2rem 1rem;
    border-radius: 15px;
}

.texto{
    padding-bottom: 60px;
}


.texto-explicacao{
    background-color: #333333;
}

.texto-explicacao p {
    padding: 1rem 10rem;
    font-size: 1.2rem;
    color: white;
    text-align: left;
}

iframe{
    margin-bottom: 2rem;
}



/* ------------- FOOTER----------------- */


footer .container{
    background-color: red;
    padding: 2rem;
}

footer ul li a{
    color: white;
    display: block;
}

address{
    margin-top: 1rem;
}