.section{
    width: 100%;
}

.nav-link{
    color: white !important ;
}

.button{
    display: flex; 
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    margin-top: 48px;

    width: 293px;
    padding: 22px 0;

    background-color: #EB7D4B;
}

a:hover{
    background-color: #643A79;
    cursor: pointer;
}