@import url('../style.css');

.sec-2{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--cinza-040);
}

.sec-2 .sec-2-flex{
    display: flex;
    gap: 100px;
}

.sec-2 .sec-2-flex .card{
    display: flex;
    gap: 20px;
}

.sec-2 .sec-2-flex .card div:first-child img{
    width: 70px;
}

.sec-2 .sec-2-flex .card div:last-child h1 {
    margin-bottom: 10px;
    color: var(--cinza-900);
}

.sec-2 .sec-2-flex .card div:last-child p {
    color: var(--cinza-700);
    margin-bottom: 20px;
}
